.nav{
    width: 100%;
    padding: 10px 50px;
    background-color: rgba(255, 255, 255, 0.188);
    display: flex;
    justify-content: end;
    button{
        padding: 7px 15px;
        border-radius: 7px;
        outline: none;
        border: none;
        background-color: aquamarine;
        cursor: pointer;
        
    }
}