main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;

.form-container{
    background-color: #222;
    height: 500px;
    width: 450px;
    border-radius: 1.3rem;
    display: flex;
    flex-direction: column;
    align-items: center;

h1{
    margin-top: 100px;
}

form{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 50px;
    padding-top: 40px;
    align-items: center;
    gap: 30px;
}

input[type="file"]{
    display: none;
}

.file-label{
    padding: 10px 30px;
    width: 100%;
    text-align: center;
    border-radius: 10px;
    background-color: #f2f2f2;
    cursor: pointer;
    transition: background-color 0.2s;
    color: black;
    &:hover{
        background-color: #e0e0e0;
    }
}

input[type="text"]{
    padding-inline: 15px;
    padding-block: 10px;
    width: 100%;
    border-radius: .55rem;
    outline: none;
    background-color: #f2f2f2;
    border: none;
}

button{
    padding: 10px 30px;
    width: fit-content;
    border-radius: 10px;
    border: none;
    background: linear-gradient(to bottom right, rgb(15, 148, 158), rgb(3, 39, 43));
    color: white;
    font-size: 1rem;
    cursor: pointer;
    
    &:hover{
        opacity: 0.9;
    }
}
}
}
